<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Payroll_.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <Payroll_.Properties.Settings>
            <setting name="Server" serializeAs="String">
                <value>gXhH8NnkM/QW5IUjACDgMRxn6nZbJQyc</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>TwAzW8XScshn00ffLiLsQ9JfzbLvQd2w</value>
            </setting>
            <setting name="Mandaluyong" serializeAs="String">
                <value>IfHugVRq8Eb4guCho2OvQBT3MDwkfZRV8aygaM/AmGY=</value>
            </setting>
            <setting name="Makati" serializeAs="String">
                <value>RpeFMfToTp6iw3cr1Q893Z++WxO+6b1e</value>
            </setting>
            <setting name="ODBC" serializeAs="String">
                <value>ADMX</value>
            </setting>
            <setting name="AMS" serializeAs="String">
                <value>ADMXSRV04</value>
            </setting>
            <setting name="AMS_Username" serializeAs="String">
                <value>sysdev</value>
            </setting>
            <setting name="AMS_Password" serializeAs="String">
                <value>Admx5299</value>
            </setting>
        </Payroll_.Properties.Settings>
    </userSettings>
</configuration>
